# This is a basic workflow to help you get started with Actions

name: Update Authors
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  updateAuthors:
    runs-on: ubuntu-latest

    steps:
      - name: Display value
        run: |
            echo "The value is ${{ github.event.pull_request.base.repo.full_name }}"
            echo "The value is ${{ github.event.pull_request.base.ref }}"

      - name: Checkout parent repository branch
        uses: actions/checkout@v4
        with:
          # Use the repository name of the parent (base) repo
          repository: ${{ github.event.pull_request.base.repo.full_name }}
          # Use the branch name of the parent (base) repo
          ref: ${{ github.event.pull_request.base.ref }}
          # The default GITHUB_TOKEN is usually sufficient for accessing the parent repo
          token: ${{ secrets.TOKEN }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.TOKEN }}
          commit-message: update authors
          title: Update AUTHORS ${{ GITHUB.ACTOR}} - ${{ GITHUB.BASE_REF}}
          body: Credit new contributors by updating AUTHORS
          branch: update-authors9
